<!-- Breadcrumbs -->
<div class="container dashboard">
  <header>
    <h1>生活便利</h1>
  </header>
  <!-- Icon Cards -->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-primary o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-home"></i>
          <h1 class="text-center">
            {{ pointer_life.live }}
          </h1>
        </div>
        <div class="card-footer small">
          <h5>居住指數</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-danger o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-bus"></i>
          <h1 class="text-center">
            {{ pointer_life.traffic }}
          </h1>
        </div>
        <div class="card-footer small">
          <h5>交通便利指數</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-success o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-graduation-cap"></i>
          <h1 class="text-center">
            {{ pointer_life.edu }}
          </h1>
        </div>
        <div class="card-footer small">
          <h5>教育指數</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-warning o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-heartbeat"></i>
          <h1 class="text-center">
            {{ pointer_life.hospital }}
          </h1>
        </div>
        <div class="card-footer small">
          <h5>醫療指數</h5>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Breadcrumbs -->
<div class="container dashboard">
  <header>
    <h1>婦幼安全</h1>
  </header>
  <!-- Icon Cards -->
  <div class="row">
    <div class="col-xl-4 col-sm-6 mb-4">
      <div class="card card-inverse card-primary o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-reddit-alien"></i>
          <h1 class="text-center">
            {{ pointer_women_child.crime }}
          </h1>
        </div>
        <div class="card-footer small">
          <h5>犯罪指數</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-4">
      <div class="card card-inverse card-danger o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-warning"></i>
          <h1 class="text-center">
            {{ pointer_women_child.traffic }}</h1>
        </div>
        <div class="card-footer small">
          <h5>交通安全指數</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-4">
      <div class="card card-inverse card-success o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-shield"></i>
          <h1 class="text-center">
            {{ pointer_women_child.police }}</h1>
        </div>
        <div class="card-footer small">
          <h5>警消指數</h5>
        </div>
      </div>
    </div>
  </div>
</div>






<div id="currentGroup">


  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="title">環域與路徑分析</h2>
      </div>
    </div>
  </div>


  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="row form-group">
          <label for="example-text-input" class="col-form-label co-custom">起點：</label>
          <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="addr" placeholder="placeholderText" />
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-success btn-search co-custom form-control" (click)="setCircle(null,null)">定位</button>
          </div>
          <!-- <div class="col-md-1">
            <button type="button" class="btn btn-success btn-search co-custom form-control" (click)="chkCon()">檢測</button>
          </div> -->
          <div class="col-md-2">
            <button type="button" class="btn btn-success btn-search co-custom form-control" (click)="analyticsArea()">環域分析</button>
          </div>
        </div>

        <div class="row form-group">
          <label for="example-text-input" class="col-form-label co-custom">終點：</label>
          <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="addr2" placeholder="placeholderText" />
          </div>
          <!-- <div class="col-md-2 form-group">
            <select class="form-control custom-select" name="selGroup" [(ngModel)]="travelModeSelect">
              <option *ngFor="let t of travelode" [ngValue]="t.mode">{{ t.name }}</option>
            </select>
          </div> -->
          <div class="col-md-2">
            <button type="button" class="btn btn-success btn-search co-custom form-control" (click)="analyticsDirections()">路徑建議</button>
          </div>
        </div>

        <div class="row form-group">
          <label class="col-form-label co-custom">經度：</label>
          <div class="col-md-2">
            <input type="text" class="form-control" [(ngModel)]="lat" readonly />
          </div>
          <label class="col-form-label co-custom">緯度：</label>
          <div class="col-md-2">
            <input type="text" class="form-control" [(ngModel)]="lng" readonly />
          </div>
          <label class="col-form-label co-custom">半徑：</label>
          <div class="col-2">
            <input type="number" class="form-control" [(ngModel)]="radius" />
          </div>
          <label class="col-form-label co-custom">顏色：</label>
          <div class="col-2">
            <input class="form-control" [(colorPicker)]="color" [style.background]="color" [value]="color" />
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <!-- <div class="col-3">
            <div class="card">
              <div class="card-header card-inverse card-success co-custom">
                圖層控制
              </div>
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <tree-root #tree [nodes]="nodes" [options]="treeOptions">
                    <template #treeNodeTemplate let-node="node" let-index="index">
                      <input (change)="check(node, $event)" type="checkbox" [indeterminate]="node.data.indeterminate" [checked]="node.data.checked"> {{ node.data.name }}
                    </template>
                  </tree-root>
                </blockquote>
              </div>
            </div>
          </div> -->
    <div class="gmap">
      <div class="gmap-menu">
        <tree-root #tree [nodes]="nodes" [options]="treeOptions">
          <template #treeNodeTemplate let-node="node" let-index="index">
            <input (change)="check(node, $event)" type="checkbox" [indeterminate]="node.data.indeterminate" [checked]="node.data.checked"> {{ node.data.name }}
          </template>
        </tree-root>
      </div>
      <!-- <div class="result-box">
                <p>監視器材：{{countSecure}}</p>
              </div> -->
      <agm-map #map class="gmap-box" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [fitBounds]="bounds">
        <agm-directions *ngIf="direction" [origin]="direction.origin" [destination]="direction.destination" [waypoints]="waypoints"></agm-directions>
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-circle [latitude]="lat" [longitude]="lng" [radius]="radius" [fillColor]="color" [fillOpacity]="0.6"></agm-circle>
        <!-- 圖層資料 -->
        <div *ngFor="let g of layerData">
          <agm-data-layer *ngIf="g.show && g.parent_id < 4" [geoJson]="g.geojson" (layerClick)="infoWindow.open();geoLayerClick($event)"
            [style]="styleLayer"></agm-data-layer>
        </div>
        <div *ngFor="let lines of layerData">
          <div *ngIf="lines.parent_id == 4">
            <agm-polyline *ngFor="let geo of lines.geojson ; let idx = index" [strokeColor]="color">
              <div>
                <agm-polyline-point *ngFor="let p of geo.path" [latitude]="p.lat" [longitude]="p.lng"></agm-polyline-point>
              </div>
            </agm-polyline>
          </div>
        </div>
        <agm-info-window #infoWindow [isOpen]="infowinIsOpen" [latitude]="infowinLat" [longitude]="infowinLng">
          <strong>{{infowinMsg[0]}}</strong>
          <p>{{infowinMsg[1]}}</p>
          <p>{{infowinMsg[2]}}</p>
        </agm-info-window>
      </agm-map>
      <!-- <div class="gmap-mask">click to unlock</div> -->
      <div class="sk-fading-circle gmap-loading">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>
  </div>

</div>




<!-- <div id="futureGroup" class="">

  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="title">高齡化社會發展趨勢之預測評估</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-custom">
            <i class="fa fa-table" aria-hidden="true"></i>&nbsp;年齡結構指標（ 2012-01 ）
          </div>
          <div class="card-block">
            <blockquote class="card-blockquote">
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <span class="badge badge-custom">
                      <var>y</var> =
                      <var>a</var> +
                      <var>b</var> *
                      <var>x</var> +
                      <var>c</var> *
                      <var>x²</var>
                    </span>
                  </h5>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <label class="col-form-label">縣市：</label>
                </div>
                <div class="col-sm-10">
                  <select id="optionCity" class="form-control" [(ngModel)]="cityYearSelect" (ngModelChange)="optionYearChange($event)">
                    <option disabled [ngValue]="-1">請選擇縣市</option>
                    <option *ngFor="let option of cityYearGroup; let itemIndex=i ndex" [ngValue]="option.enName">{{option.chName }}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <label class="col-form-label">指標：</label>
                </div>
                <div class="col-sm-10">
                  <nouislider class="nouislider" [min]="1" [max]="250" [step]="1" [(ngModel)]="yearValueSlider
           " (ngModelChange)="onYearSliderChange($event)" [disabled]="yearActiveSlider"></nouislider>
                </div>
              </div>
              <div class="row fix-col">
                <div class="col-sm-3">
                  <label class="col-form-label">估計年月：</label>
                </div>
                <div class="col-sm-9">
                  <label class="col-form-label">{{yearDateSlider}}</label>
                </div>
              </div>
              <table class="table table-bordered table-inverse table-custom">
                <thead>
                  <tr>
                    <th>0~17</th>
                    <th>17~65</th>
                    <th>65歲以上</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ yearDataPercent[0] }}%</td>
                    <td>{{ yearDataPercent[1] }}%</td>
                    <td>{{ yearDataPercent[2] }}%</td>
                  </tr>
                </tbody>
              </table>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-custom">
            <i class="fa fa-table" aria-hidden="true"></i>&nbsp;人口數量預估（ 2007-01 ）
          </div>
          <div class="card-block">
            <blockquote class="card-blockquote">
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <span class="badge badge-custom">
                      <var>y</var> =
                      <var>a</var> +
                      <var>b</var> *
                      <var>x</var> +
                      <var>c</var> *
                      <var>x²</var>
                    </span>
                  </h5>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <label class="col-form-label">縣市：</label>
                </div>
                <div class="col-sm-10">
                  <select id="optionCity" class="form-control" [(ngModel)]="cityPopuSelect" (ngModelChange)="optionPopuChange($event)">
                    <option disabled [ngValue]="-1">請選擇縣市</option>
                    <option *ngFor="let option of cityPopuGroup; let itemIndex=i ndex" [ngValue]="option.enName">{{option.chName }}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <label class="col-form-label">指標：</label>
                </div>
                <div class="col-sm-10">
                  <nouislider class="nouislider" [min]="1" [max]="180" [step]="1" [(ngModel)]="popuValueSlider
           " (ngModelChange)="onPopuSliderChange($event)" [disabled]="popuActiveSlider"></nouislider>
                </div>
              </div>
              <div class="row fix-col">
                <div class="col-sm-3">
                  <label class="col-form-label">估計年月：</label>
                </div>
                <div class="col-sm-9 text-left">
                  <label class="col-form-label">{{popuDateSlider}}</label>
                </div>
              </div>
              <table class="table table-bordered table-inverse table-custom">
                <thead>
                  <tr>
                    <th>總人口數</th>
                    <th>自然成長係數</th>
                    <th>社會成長係數</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ popuDataPercent[0] }}人</td>
                    <td>{{ popuDataPercent[1] }}%</td>
                    <td>{{ popuDataPercent[2] }}%</td>
                  </tr>
                </tbody>
              </table>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="charGroup" class="container">
    <div class="row">
      <div class="col-xl-4 col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-header card-inverse">
            <i class="fa fa-pie-chart"></i> 年齡結構分析
          </div>
          <div class="card-block">
            <canvas baseChart [data]="yearDataPercent" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-header card-inverse">
            <i class="fa fa-area-chart"></i> 扶養比
          </div>
          <div id="carePercent" class="card-block">
            <div class="row text-center">
              <div class="col-12">
                <i class="fa fa-blind fa-3x" aria-hidden="true" *ngFor="let i of yearCountOldMan"></i>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-12">
                <h1 class="text-center card-title">{{ yearCountPercent }}%</h1>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-12">
                <i class="fa fa-male fa-3x" aria-hidden="true" *ngFor="let i of yearCountMale"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-header card-inverse">
            <i class="fa fa-bar-chart"></i> 人口數量預測
          </div>
          <div class="card-block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions
           " [legend]="barChartLegend" [chartType]="barChartType"></canvas>
          </div>
        </div>
      </div>

    </div>
  </div>

</div> -->