<footer class="footer">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="title">資料來源</h2>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="footer-source row">
      <div class="col-lg-3">
        <h5>居住</h5>
        <ul>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/administration-20150411-140738-8116" target="_blank">新竹市政府免費無線上網熱點地點資訊</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/hccepb-20150121-095102-5357" target="_blank">新竹市垃圾清運路線總表</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/society-20161206-180829-7002/resource/acaf1c94-9fab-4643-9006-9fc08b0186eb"
              target="_blank">早安飽貝餐券兌換商店</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/tourism-20150127-131542-4802" target="_blank">新竹市公廁地點資訊</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>交通</h5>
        <ul>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/traffic-20160624-172329-4384" target="_blank">新竹市公共自行車租賃系統(YouBike)</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/traffic-20150128-103132-7393" target="_blank">新竹市公有停車場相關資訊</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/construction-20151222-143922-8572" target="_blank">新竹市加油(氣)站</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/hccepb-20150129-105059-8793" target="_blank">新竹市電動機車充電站</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/hccp-20150122-143422-6575" target="_blank">新竹市違規自動照相固定桿設置地點</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>教育</h5>
        <ul>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/hc-20150122-150339-0985" target="_blank">新竹市幼兒園名錄</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/hc-20151124-170057-6374" target="_blank">新竹市立國中小通訊資料</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/society-20150122-091947-9019/resource/c85e5d91-c6a6-447b-988d-7bdb38d675c1"
              target="_blank">新竹市私立托嬰中心名冊</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>醫療</h5>
        <ul>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/puppy1-20160505-232759-0862" target="_blank">新竹市動物醫院</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/hcchb-20150303-131226-1934" target="_blank">新竹市預防接種合約院所名冊</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/society-20151013-135026-8826" target="_blank">桃竹苗區健保特約兒童復健療育單位</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/hcchb-20150127-115419-3508" target="_blank">新竹市AED心臟電擊器設置地點</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-source row">
      <div class="col-lg-3">
        <h5>犯罪</h5>
        <ul>
          <li>
            <a href="https://data.gov.tw/dataset/6247" target="_blank">婦幼安全警示地點</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/hccp-20150122-143102-7978" target="_blank">新竹市錄影監視系統設置地點</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>交通
        </h5>
        <ul>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/traffic-20150305-174331-5727" target="_blank">新竹市載運砂石大貨(拖)車進入市區開放行駛路線</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>警消</h5>
        <ul>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/hcfd-20150126-153841-5660" target="_blank">新竹市消防局消防分隊駐地位置座標</a>
          </li>
          <li>
            <a href="http://opendata.hccg.gov.tw/dataset/hccp-20150122-142946-6414" target="_blank">新竹市警察機關資料</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">

      </div>
    </div>

    <!-- <hr>

    <div class="footer-bottom row">
      <div class="col-lg-4">
        <span class="text-muted">Create By 李董與他的四位快樂好夥伴ver2</span>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <span class="text-muted">Thanks for：</span>
        </div>
        <div class="row">
          <ul class="nav">
            <li><a href="https://www.facebook.com/songlin.lee.3?fref=ts" target="_blank">李董</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100001759966645" target="_blank">阿成</a></li>
            <li><a href="https://zh-tw.facebook.com/people/%E8%95%AD%E7%9B%9F%E8%88%88/100002536325759" target="_blank">Monshin</a></li>
            <li><a href="https://zh-tw.facebook.com/people/Jessie-Wang/100001554500247" target="_blank">Smile Angle Jessie</a></li>
            <li><a href="https://robby570.tw" target="_blank">Robby</a></li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>
</footer>